<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/css/style.css" rel="stylesheet" type="text/css"/>
    <title><%= title %></title>
</head>
<body>
    <div class="card-outer">
        <div class="card">
          <div class="card-inner-left">
            <form method="post">
              <ul class="form-elements">
                <li>
                  <h1> Login </h1>
                </li>
                <li> <input type="text" placeholder="email" id="email" name="email" required> </li>
                <li> <input type="password" placeholder="password" id="password" name="password" required> </li>
      
                <li> <button type="submit" value="Submit"> Submit </button> </li>
              </ul>
      
            </form>
          </div>
      
          <div class="card-inner-right">
            <img src="/photos/hotpink.jpg">
          </div>
        </div>
      </div>
    
    
    

    
</body>
</html>